body {
  margin: 15px 190px;
}


h1,h2 {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

h3 {
  font-weight: normal;
  text-decoration: underline;
}

.sezione {
  height: auto;
  width: auto;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  padding: 10px;
  text-align: left;
  margin-bottom: 15px;
}

.boxes {
  display: inline-block;
  text-align: center;
  line-height: 1,5em;
  height: 90px;
  width: 480px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  margin: 25px 1px;
}

.boxfonts {
  height: 190px;
  width: 650px;
  display: inline-block;
}

.sourcecode {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.nunito {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

#coolblue {
  background-color: #2d5dcc;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

#pink {
  background-color: #d957d9;
  padding-top: 5px;
  padding-bottom: 5px;
}

#mintgreen {
  background-color: #4fe0b0;
  padding-top: 5px;
  padding-bottom: 5px;
}

#beige {
  background-color: #efd9ca;
  padding-top: 5px;
  padding-bottom: 5px;
}